In [53]:
import pandas as pd
import pymysql
from datetime import datetime
from datetime import timedelta
import re

class MarketDB:
    def __init__(self):
        """생성자: MariaDB 연결 및 종목코드 딕셔너리 생성"""
        self.conn = pymysql.connect(host='localhost', user='root', password='dkstjdcks1206', db='INVESTAR', charset='utf8')
        self.codes = {}
        self.get_comp_info()
    
    def __del__(self):
        """소멸자: MariaDB 연결 해제"""
        self.conn.close()
        
    def get_comp_info(self):
        """company_info 테이블에서 읽어와서 codes에 저장"""
        sql = "SELECT * FROM company_info"
        krx = pd.read_sql(sql, self.conn)
        for idx in range(len(krx)):
            self.codes[krx['code'].values[idx]] = krx['company'].values[idx]
        
    def get_daily_price(self, code, start_date=None, end_date=None):
        """KRX 종목별 시세를 데이터프레임 형태로 반환
            -code : KRX 종목코드('095930') 또는 상장기업명('삼성전자')
            -start_date : 조회 시작일, default 1년
            -end_date : 조회 종료일, default 오늘
        """
        
        if (start_date is None):
            one_year_ago = datetime.today() - timedelta(days=365) # 1년 전 날짜
            print("start_date is initialized to '{}'".format(start_date))
        else:
            start_lst = re.split('\D+', start_date)
            if (start_lst[0] == ''):
                start_lst = start_lst[1:]
            start_year = int(start_lst[0])
            start_month = int(start_lst[1])
            start_day = int(start_lst[2])
            if start_year < 1900 or start_year > 2200:
                print(f"ValueError: start_year({start_year:d}) is wrong.")
                return
            if start_month < 1 or start_month > 12:
                print(f"ValueError: start_month({start_month:d}) is wrong.")
                return
            if start_day < 1 or start_day > 31:
                print(f"ValueError: start_day({start_day:d}) is wrong.")
                return
            start_date = f"{start_year:04d}-{start_month:02d}-{start_day:02d}"
            
        if (end_date is None):
            end_date = datetime.today().strftime('%Y-%m-%d')
            print("end_date is initialized to '{}'".format(end_date))
        else:
            end_lst = re.split('\D+', end_date)
            if (end_lst[0] == ''):
                end_lst = end_lst[1:]
            end_year = int(end_lst[0])
            end_month = int(end_lst[1])
            end_day = int(end_lst[2])
            if end_year < 1900 or end_year > 2200:
                print(f"ValueError: end_year({end_year:d}) is wrong.")
                return
            if end_month < 1 or end_month > 12:
                print(f"ValueError: end_month({end_month:d}) is wrong.")
                return
            if end_day < 1 or end_day > 31:
                print(f"ValueError: end_day({end_day:d}) is wrong.")
                return
            end_date = f"{end_year:04d}-{end_month:02d}-{end_day:02d}"
        
        codes_keys = list(self.codes.keys())
        codes_values = list(self.codes.values())
        if code in codes_keys:
            pass
        elif code in codes_values:
            idx = codes_values.index(code)
            code = codes_keys[idx]
        else:
            print("ValueError: Code({}) doesn't exist.".format(code))
                
        sql = f"SELECT * FROM daily_price WHERE code = '{code}'"\
            f" and date >= '{start_date}' and date <= '{end_date}'"
        df = pd.read_sql(sql, self.conn)
        df.index = df['date']
        return df

In [9]:
import pandas as pd
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='dkstjdcks1206', db='INVESTAR', charset='utf8')
sql = "SELECT * FROM company_info"
krx = pd.read_sql(sql, conn)

codes = {}
for idx in range(len(krx)):
    codes[krx['code'].values[idx]] = krx['company'].values[idx]

In [56]:
mk = MarketDB()
mk.get_daily_price('켐온', '2019-09-30', )

end_date is initialized to '2022-01-03'

              code        date  open  high   low  close  diff    volume
date
2019-09-30  217600  2019-09-30  1490  1490  1445   1455    35    475394
2019-10-01  217600  2019-10-01  1460  1500  1445   1490    35    423652
2019-10-02  217600  2019-10-02  1465  1495  1460   1480    10    360912
2019-10-04  217600  2019-10-04  1460  1485  1455   1460    20    331428
2019-10-07  217600  2019-10-07  1455  1520  1455   1505    45    906195
...            ...         ...   ...   ...   ...    ...   ...       ...
2021-12-24  217600  2021-12-24  4300  4400  3775   3800   255  26338694
2021-12-27  217600  2021-12-27  3825  3950  3770   3825    25  16881875
2021-12-28  217600  2021-12-28  4025  4345  3730   3755    70  43452383
2021-12-29  217600  2021-12-29  3760  3885  3760   3835    80   4440446
2021-12-30  217600  2021-12-30  3810  3870  3635   3700   135   5584695

[559 rows x 8 columns]

In [38]:
import re
end_lst = re.split('\D+', '2019-09-30')

In [39]:
if (end_lst[0] == ''):
    end_lst = end_lst[1:]
end_year = int(end_lst[0])
end_month = int(end_lst[1])
end_year = int(end_lst[2])

In [40]:
end_year

30

In [41]:
re.split('\D+', '2019-09-30')

['2019', '09', '30']

In [42]:
end_lst[0]

'2019'

In [43]:
end_lst[1:]

['09', '30']

In [44]:
end_lst[0] == ''

False

In [46]:
end_lst

['2019', '09', '30']