### 종목코드

In [22]:
import pandas as pd

In [23]:
# https://kind.krx.co.kr/corpgeneral/corpList.do?method=loadInitPage
krx_list = pd.read_html('C:/Users/201910810/workspace/stock/data/상장법인목록.xls')

In [24]:
krx_list[0]['종목코드'] = krx_list[0].종목코드.map('{:06d}'.format)

In [26]:
krx_list[0].sort_values(by = '종목코드', inplace = True)

In [30]:
krx_list[0][krx_list[0]['회사명'] == '켐온']

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
787,켐온,217600,자연과학 및 공학 연구개발업,비임상연구시험대행,2015-06-26,12월,송시환,http://www.chemon.co.kr,경기도

### 웹 스크래핑

In [100]:
from selenium import webdriver
from bs4 import BeautifulSoup
import re

excutable_path = "C:/chromedriver.exe"
source_url = 'https://finance.naver.com/item/sise_day.nhn?code=217600&page=1' # 켐온

driver = webdriver.Chrome(executable_path=excutable_path)  # for Windows
driver.get(source_url)
req = driver.page_source
soup = BeautifulSoup(req, "html.parser")
pgrr = soup.find('td', class_ = 'pgRR') # page Right Right
last_page = str(pgrr.a['href']).split('=')[-1]

print(last_page)

<ipython-input-100-e1ed94286aa0>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=excutable_path)  # for Windows

160

In [152]:
df = pd.DataFrame()
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=217600' # 켐온

for page in range(1, int(last_page)+1):
    page_url = '{}&page={}'.format(sise_url, page)
    driver.get(source_url)
    df = df.append(pd.read_html(driver.page_source, header=0)[0], ignore_index = True)

df = df.dropna().reset_index().drop('index', axis = 1)

In [154]:
df

              날짜      종가    전일비      시가      고가      저가         거래량
0     2021.12.24  3800.0  255.0  4300.0  4400.0  3775.0  26135113.0
1     2021.12.23  4055.0  935.0  3130.0  4055.0  3120.0  42364196.0
2     2021.12.22  3120.0   30.0  3180.0  3275.0  3120.0   4003451.0
3     2021.12.21  3150.0  170.0  3300.0  3315.0  3120.0   2135174.0
4     2021.12.20  3320.0  240.0  3240.0  3480.0  3200.0  10764502.0
...          ...     ...    ...     ...     ...     ...         ...
1595  2021.12.17  3080.0  110.0  3015.0  3210.0  3010.0   2412001.0
1596  2021.12.16  2970.0   15.0  3005.0  3045.0  2945.0    465362.0
1597  2021.12.15  2985.0   30.0  2985.0  3045.0  2975.0    572903.0
1598  2021.12.14  3015.0   60.0  2920.0  3220.0  2920.0   3869896.0
1599  2021.12.13  2955.0   30.0  2925.0  2965.0  2915.0    313984.0

[1600 rows x 7 columns]

In [130]:
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=217600'
page_url = '{}&page={}'.format(sise_url, '1')
test_df = pd.read_html(driver.page_source, header=0)[0]

In [134]:
test_df = test_df.append(test_df)

In [135]:
test_df

            날짜      종가    전일비      시가      고가      저가         거래량
0          NaN     NaN    NaN     NaN     NaN     NaN         NaN
1   2021.12.24  3800.0  255.0  4300.0  4400.0  3775.0  26135113.0
2   2021.12.23  4055.0  935.0  3130.0  4055.0  3120.0  42364196.0
3   2021.12.22  3120.0   30.0  3180.0  3275.0  3120.0   4003451.0
4   2021.12.21  3150.0  170.0  3300.0  3315.0  3120.0   2135174.0
5   2021.12.20  3320.0  240.0  3240.0  3480.0  3200.0  10764502.0
6          NaN     NaN    NaN     NaN     NaN     NaN         NaN
7          NaN     NaN    NaN     NaN     NaN     NaN         NaN
8          NaN     NaN    NaN     NaN     NaN     NaN         NaN
9   2021.12.17  3080.0  110.0  3015.0  3210.0  3010.0   2412001.0
10  2021.12.16  2970.0   15.0  3005.0  3045.0  2945.0    465362.0
11  2021.12.15  2985.0   30.0  2985.0  3045.0  2975.0    572903.0
12  2021.12.14  3015.0   60.0  2920.0  3220.0  2920.0   3869896.0
13  2021.12.13  2955.0   30.0  2925.0  2965.0  2915.0    313984.0
14         NaN     NaN    NaN     NaN     NaN     NaN         NaN
0          NaN     NaN    NaN     NaN     NaN     NaN         NaN
1   2021.12.24  3800.0  255.0  4300.0  4400.0  3775.0  26135113.0
2   2021.12.23  4055.0  935.0  3130.0  4055.0  3120.0  42364196.0
3   2021.12.22  3120.0   30.0  3180.0  3275.0  3120.0   4003451.0
4   2021.12.21  3150.0  170.0  3300.0  3315.0  3120.0   2135174.0
5   2021.12.20  3320.0  240.0  3240.0  3480.0  3200.0  10764502.0
6          NaN     NaN    NaN     NaN     NaN     NaN         NaN
7          NaN     NaN    NaN     NaN     NaN     NaN         NaN
8          NaN     NaN    NaN     NaN     NaN     NaN         NaN
9   2021.12.17  3080.0  110.0  3015.0  3210.0  3010.0   2412001.0
10  2021.12.16  2970.0   15.0  3005.0  3045.0  2945.0    465362.0
11  2021.12.15  2985.0   30.0  2985.0  3045.0  2975.0    572903.0
12  2021.12.14  3015.0   60.0  2920.0  3220.0  2920.0   3869896.0
13  2021.12.13  2955.0   30.0  2925.0  2965.0  2915.0    313984.0
14         NaN     NaN    NaN     NaN     NaN     NaN         NaN
0          NaN     NaN    NaN     NaN     NaN     NaN         NaN
1   2021.12.24  3800.0  255.0  4300.0  4400.0  3775.0  26135113.0
2   2021.12.23  4055.0  935.0  3130.0  4055.0  3120.0  42364196.0
3   2021.12.22  3120.0   30.0  3180.0  3275.0  3120.0   4003451.0
4   2021.12.21  3150.0  170.0  3300.0  3315.0  3120.0   2135174.0
5   2021.12.20  3320.0  240.0  3240.0  3480.0  3200.0  10764502.0
6          NaN     NaN    NaN     NaN     NaN     NaN         NaN
7          NaN     NaN    NaN     NaN     NaN     NaN         NaN
8          NaN     NaN    NaN     NaN     NaN     NaN         NaN
9   2021.12.17  3080.0  110.0  3015.0  3210.0  3010.0   2412001.0
10  2021.12.16  2970.0   15.0  3005.0  3045.0  2945.0    465362.0
11  2021.12.15  2985.0   30.0  2985.0  3045.0  2975.0    572903.0
12  2021.12.14  3015.0   60.0  2920.0  3220.0  2920.0   3869896.0
13  2021.12.13  2955.0   30.0  2925.0  2965.0  2915.0    313984.0
14         NaN     NaN    NaN     NaN     NaN     NaN         NaN
0          NaN     NaN    NaN     NaN     NaN     NaN         NaN
1   2021.12.24  3800.0  255.0  4300.0  4400.0  3775.0  26135113.0
2   2021.12.23  4055.0  935.0  3130.0  4055.0  3120.0  42364196.0
3   2021.12.22  3120.0   30.0  3180.0  3275.0  3120.0   4003451.0
4   2021.12.21  3150.0  170.0  3300.0  3315.0  3120.0   2135174.0
5   2021.12.20  3320.0  240.0  3240.0  3480.0  3200.0  10764502.0
6          NaN     NaN    NaN     NaN     NaN     NaN         NaN
7          NaN     NaN    NaN     NaN     NaN     NaN         NaN
8          NaN     NaN    NaN     NaN     NaN     NaN         NaN
9   2021.12.17  3080.0  110.0  3015.0  3210.0  3010.0   2412001.0
10  2021.12.16  2970.0   15.0  3005.0  3045.0  2945.0    465362.0
11  2021.12.15  2985.0   30.0  2985.0  3045.0  2975.0    572903.0
12  2021.12.14  3015.0   60.0  2920.0  3220.0  2920.0   3869896.0
13  2021.12.13  2955.0   30.0  2925.0  2965.0  2915.0    313984.0
14         NaN     NaN    NaN     NaN     NaN     NaN         NaN